.company-name {
  text-align: center;
  font-size: 36px;
  display: block;
  padding: 0 auto;
  margin-bottom: 50px;
  color: #B5495B;
}

.signup-card {
  background: #f1f7fc;
  padding: 100px 0 100px 0;
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.signup-card .form-group {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 80px 50px 80px 50px;
}

.signup-card .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.btn-primary {
  background: #D7C4BB;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-shadow: none;
  outline: none !important;
  display: block;
  font-size: 18px;
}

.signup-card .btn-primary:hover, .signup-card .btn-primary:active {
  background: #B19693;
  cursor: pointer;
}

.signup-card .btn-primary:active {
  transform: translateY(1px);
}

.loginText {
  display: block;
  font-size: 13px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.signup-card .box-text {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  display: block;
  color: #000000;
}
